.Lottery {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 1em 0 2em 0;
    margin: 2em auto auto;
    width: 50%;
    text-align: center;
}
.Lottery button {
    outline: none;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    font-size: 1.15em;
    cursor: pointer;
    margin: 2em auto auto;
}